<ul class="dropdown menu" data-dropdown-menu>
  {% for ance in branch %}
  <li>
    <a class="{{ ance.attr.color }}" href="{{ ance.get_absolute_url }}">
      {% if forloop.first %}
      <i class="fi-home large"></i>
      {% else %}
      {{ ance.get_menu_title }}
      {% endif %}
    </a>
    {% if ance.attr.childs|length > 0 %}
    <ul class="menu">
      <li><a class="{{ ance.attr.color }}" href="{{ ance.get_absolute_url }}">{{ ance.get_menu_title }}: presentation</a></li>
      <li class="divider"></li>
      {% for ch in ance.attr.childs %}
      <li><a class="{{ ch.attr.color }}" href="{{ ch.get_absolute_url }}">{{ ch.get_menu_title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% if forloop.first %}
  <li>
    <span class="bread-0">&nbsp;</span>
  </li>
  {% endif %}
{% endfor %}
</ul>
